.modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  z-index: 1000;
  background-color: var(--background-color);
  color: var(--text-dark-color);
  border-radius: 1rem;
  transition: all 0.3s;
}

.header {
  padding: 2.4rem 2rem;
  display: flex;
  align-items: center;
  border-bottom: 0.1px solid var(--border-light-color);
  position: relative;
}

.icon {
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 999px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
}

.icon:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.title {
  flex: 1;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 3rem;
}
